# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
finance-venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore data files
datasets/raw/
datasets/processed/

# Ignore model files
*.pkl
*.h5

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment configuration files
.env